<section class="relative bg-black">
<div class="w-full absolute bg-gray-500 py-5 flex items-center mt-48">
    <h1 class="title-font sm:text-4xl text-3xl font-medium uppercase">HAMMER LEGEND HAMMER LEGEND HAMMER LEGEND HAMMER LEGEND HAMMER LEGEND</h1>
</div>
<div class="container max-w-1180 px-5 mb-20  mt-20 mx-auto">
    <h1 class="title-font sm:text-4xl text-3xl font-medium uppercase mb-5">Преимущество групповых занятий</h1>
    <div class="grid  lg:grid-cols-3 gap-4">
       
            <div class="p-5 bg-gray-800 text-white relative z-50">
                <h5>Четкая структура</h5>
                <p>Стоит отметить, что занятия с группой имеют более четкую структуру, в которой имеется четкое
                    разделение времени на разминку и выполнение различных упражнений.</p>
            </div>
            <div class="p-5 bg-yellow-500 text-black mt-20 max-h-96 relative z-50">
                <h5>Организованность</h5>
                <p>Благодаря контролю тренера, групповые занятия помогают стать более организованным.
                </p>
            </div>

            <div class="p-5 bg-white text-black mt-10 h-50 relative z-50">
                <h5>Эффективность</h5>
                <p>Групповые тренировки обеспечивают более эффективный результат, что объясняется правильно составленной
                    программой, которая не позволит участникам отдыхать и расслабляться во время выполнения упражнений.
                </p>
            </div>
        
    </div>
</div>
</section>