<section class="text-gray-700 body-font">
    <div class="container max-w-1180 px-5 py-24 mx-auto">
        <h1 class="title-font sm:text-4xl text-3xl font-medium uppercase mb-10">Клубные ТАРИФЫ</h1>
      <div class="grid  lg:grid-cols-4 gap-4">
          <div class="border-gray-700 border">
              <div class="border-b border-red-500">
                  <div class="p-5">
              <h2 class="text-gray-900 text-lg title-font font-medium">Стандарт </h2>
              <h2>15.000 тг / мес</h2>
      
          </div>
        </div>
              <div class="border-b border-red-500">
                  <div class="p-5">Lorem Ipsum is simply dummy text of the printing and</div>
                 </div>
               <div class="p-5">
               <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </P>
               <p class="py-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
               </div>
          </div>


          <div class="border-gray-700 border">
            <div class="border-b border-red-500">
                <div class="p-5">
            <h2 class="text-gray-900 text-lg title-font font-medium">Стандарт </h2>
            <h2>15.000 тг / мес</h2>
    
        </div>
      </div>
            <div class="border-b border-red-500">
                <div class="p-5">Lorem Ipsum is simply dummy text of the printing and</div>
               </div>
             <div class="p-5">
             <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </P>
             <p class="py-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
             </div>
        </div>


        <div class="border-gray-700 border">
            <div class="border-b border-red-500">
                <div class="p-5">
            <h2 class="text-gray-900 text-lg title-font font-medium">Стандарт </h2>
            <h2>15.000 тг / мес</h2>
    
        </div>
      </div>
            <div class="border-b border-red-500">
                <div class="p-5">Lorem Ipsum is simply dummy text of the printing and</div>
               </div>
             <div class="p-5">
             <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </P>
             <p class="py-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
             </div>
        </div>


        <div class="border-gray-700 border">
            <div class="border-b border-red-500">
                <div class="p-5">
            <h2 class="text-gray-900 text-lg title-font font-medium">Стандарт </h2>
            <h2>15.000 тг / мес</h2>
    
        </div>
      </div>
            <div class="border-b border-red-500">
                <div class="p-5">Lorem Ipsum is simply dummy text of the printing and</div>
               </div>
             <div class="p-5">
             <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </P>
             <p class="py-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
             </div>
        </div>
          </div>
    </div>
  </section>
  

  

<section class="body-font bg-black text-white">
    <div class="container max-w-1180 px-5 py-24 mx-auto">
        <h1 class="title-font sm:text-4xl text-3xl mb-10 font-medium text-center">БЛОГ</h1>
  <div class="grid lg:grid-cols-3 gap-2">
  

        <div class="lg:mb-0 mb-6 bg-gray-900 mx-2">
          <div class="h-full">
           <img class="w-full"src="/img/b1.png" alt="">
           <div class="p-4">
           <h2 class="text-white text-lg title-font  font-medium">Чем полезны силовые
              тренировки для тела?</h2>
            <p class="leading-relaxed mb-5">Выполнение силовых упражнений
              помогает укреплять мышцы, увеличить их
              силу и объема, а также потратить больше
              количество энергии, что актуально
              для людей желающих сбросить вес.</p>
           
            <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">HOLDEN CAULFIELD</h2>
            <p class="text-gray-500">Читать полностью...</p>
          </div>
        </div>
      </div>

      <div class="lg:mb-0 mb-6 bg-gray-900 mx-2">
        <div class="h-full">
         <img class="w-full"src="/img/b1.png" alt="">
         <div class="p-4">
         <h2 class="text-white text-lg title-font  font-medium">Чем полезны силовые
            тренировки для тела?</h2>
          <p class="leading-relaxed mb-5">Выполнение силовых упражнений
            помогает укреплять мышцы, увеличить их
            силу и объема, а также потратить больше
            количество энергии, что актуально
            для людей желающих сбросить вес.</p>
         
          <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">HOLDEN CAULFIELD</h2>
          <p class="text-gray-500">Читать полностью...</p>
        </div>
      </div>
    </div>

    <div class="lg:mb-0 mb-6 bg-gray-900 mx-2">
        <div class="h-full">
         <img class="w-full"src="/img/b1.png" alt="">
         <div class="p-4">
         <h2 class="text-white text-lg title-font  font-medium">Чем полезны силовые
            тренировки для тела?</h2>
          <p class="leading-relaxed mb-5">Выполнение силовых упражнений
            помогает укреплять мышцы, увеличить их
            силу и объема, а также потратить больше
            количество энергии, что актуально
            для людей желающих сбросить вес.</p>
         
          <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">HOLDEN CAULFIELD</h2>
          <p class="text-gray-500">Читать полностью...</p>
        </div>
      </div>
    </div>
</div>

  </div>
  
    
</section>
