<footer class="text-gray-500 bg-black body-font border-t border-opacity-20 border-white ">
  <div class="container max-w-1180 px-5 mt-10 mx-auto">
    <div class="flex flex-col items-center justify-center w-100">
    <img src="/img/logo.svg" alt="">


<ul class="footer-link flex w-screen items-center justify-center  border-b border-opacity-20 border-white py-5">
  <li>Главная</li>
  <li>Услуги</li>
  <li>Тарифы</li>
  <li>Корпоративный фитнес</li>
  <li>Блог</li>
  <li>Контакты</li>
  

</ul>

<div class="grid grid-cols-2 gap-0">
  <div class="flex flex-col border-r border-opacity-20 border-white p-10">
    <img src="/img/futer-phone.svg" alt="">
    <a href="">+ (707) 738-07-97</a>
    <p>hello@hammerlegend.kz</p>

  </div>
  <div class="flex flex-col p-10">
    <img src="/img/futer-mail.svg" alt="">
    <a href="">+ (707) 738-07-97</a>
    <p>hello@hammerlegend.kz</p>

  </div>

  </div>

  <div class="border-t border-opacity-20 w-screen border-white flex flex-center justify-center flex-col items-center py-10">
    <p>График работы: Пн - Вс 
      С 8:00 до 00:00</p>
      <p>График работы: Пн - Вс 
        С 8:00 до 00:00</p>
  </div>

    </div>
</div>

<div class="bg-yellow-500 w-screen flex items-center justify-center py-2">
  
  <img class="p-2" src="/img/inst.svg" alt="">
  <img class="p-2" src="/img/wp.svg" alt="">
  <img class="p-2" src="/img/you.svg" alt="">
  <img class="p-2" src="/img/tg.svg" alt="">


</div>
  


  {% include 'templates/modal.html' %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <script src="js/scripts.js"></script>
  
</footer>



