<section class="text-white bg-black body-font">
    <div class="container max-w-1180 px-5 mt-20 mx-auto">
        <h1 class="title-font sm:text-4xl text-3xl font-medium uppercase mb-5">Галерея</h1>
       <ul class="flex justify-between">
        <li class="tab_menu_item"><a href="#" data-id="about" class="py-5 tab_menu_item_link is-active">тренажерный зал</a></li>
        <li class="tab_menu_item"><a href="#" data-id="works" class=" py-5 tab_menu_item_link">Зал групповых тренировок</a></li>
        <li class="tab_menu_item"><a href="#" data-id="contact" class="py-5 tab_menu_item_link">cycle</a></li>
        <li class="tab_menu_item"><a href="#" data-id="contact" class="py-5 tab_menu_item_link">зал единоборств</a></li>
        <li class="tab_menu_item"><a href="#" data-id="contact" class="py-5 tab_menu_item_link">Раздевалка / душ</a></li>
        <li class="tab_menu_item"><a href="#" data-id="contact" class="py-5 tab_menu_item_link">кафе</a></li>
    </ul>
        </div>
        <div class="border border-opacity-20 border-white w-screen mt-5"></div>
  <div class="container max-w-1180 px-5 pb-24 pt-10 mx-auto">



    <div class="tab">
      <ul class="flex">
        
      </ul>
      <div class="tab_container">
        <div class="tab_content is-active" id="about">
         
          <div class="grid  lg:grid-cols-4 gap-4">
            <div class="item-gall relative grayscale w-full lg:p-0">
              <img src="/img/home-gal/1.png" alt="">
              <div class="absolute bottom-5 left-2 py-1 px-5 bg-black hover:bg-yellow-500 rounded-full">Свободные весы</div>
            </div>
            <div class="item-gall grayscale w-full lg:p-0"><img src="/img/home-gal/2.png" alt=""></div>
            <div class="item-gall grayscale w-full lg:p-0 lg:col-span-2"><img src="/img/home-gal/3.png" alt=""></div>
            <div class="item-gall grayscale w-full lg:p-0"><img src="/img/home-gal/4.png" alt=""></div>
            <div class="item-gall grayscale w-full lg:p-0 lg:col-span-2"><img src="/img/home-gal/5.png" alt=""></div>
            <div class="item-gall grayscale w-full lg:p-0"><img src="/img/home-gal/6.png" alt=""></div>
         
          </div>




        </div>
        <div class="tab_content" id="works">
          <p>Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works Works</p>
        </div>
        <div class="tab_content" id="next">
          <p>Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact</p>
        </div>
  
        <div class="tab_content" id="contact">
          <p>33333</p>
        </div>
      </div>
    </div>


  
 
  </div>
</section>