<section class="text-gray-500 bg-gray-900 body-font relative ">
  <div class="h-screen home relative overflow-hidden">


<video class="absolute z-40 top-0 left-0" autoplay muted loop id="myVideo">
  <source src="/img/video.mp4" type="video/mp4">
</video>

<div class="h-full flex flex-col justify-center">
  <header class="text-gray-500 relative z-50">
    <div class="container max-w-1180 mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <div class="flex w-full justify-between">
      <a class="flex title-font font-medium items-center  mb-4 md:mb-0">
       <img class="py-5" src="/img/logo.svg" alt="">
      </a>
      <!-- <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-white">Главная</a>
        <a class="mr-5 hover:text-white">Услуги</a>
        <a class="mr-5 hover:text-white">Тарифы</a>
        <a class="mr-5 hover:text-white">Корпоративный фитнес</a>
        <a class="mr-5 hover:text-white">Блог</a>
        <a class="mr-5 hover:text-white">Контакты</a>
      </nav> -->
    <img src="/img/hb.svg" alt="">
    </div>
  </div>
  
  </header>

  <div class="container max-w-1180 mx-auto flex px-5  h-full md:flex-row flex-col items-center relative z-50">
    <div class="lg:flex-grow md:w-full lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-5xl text-3xl mb-10 font-medium text-white">Годовая карта всего 

        <br class="hidden lg:inline-block"> за 17500 тг / мес !
      </h1>
     
      <div class="flex justify-center">
        <button v-on="click: showModal = true" class="inline-flex text-white bg-transparent border border-yellow-500 py-2 px-6 focus:outline-none hover:bg-yellow-400 hover:text-black text-lg">ПОДРОБНЕЕ</button>
        <button class="ml-4 inline-flex text-black border-0  bg-yellow-500  py-2 px-6 focus:outline-none hover:bg-yellow-400 text-lg">К ПОКУПКЕ</button>
      </div>
    </div>
  </div>
</div>

  </div>
</section>


