<section class="text-gray-700 body-font">
  <div class="container max-w-1180 lg:px-0 px-5 pb-24 mx-auto flex flex-wrap">
    <div class="flex lg:items-center lg:flex-row flex-col">
    <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden">
      <img alt="feature" class="object-cover object-center lg:pr-10 lg:pl-0 h-full w-full" src="/img/2.png">
    </div>
    <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-10 font-medium">HAMMER LEGEND</h1>
      <div class="flex mb-10 lg:items-center items-center justify-center">
        <div class="w-100 h-100 mr-10 ">
         <img style="width: 100%;" src="/img/l1.svg" alt="">
        </div>
        
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium">ПРОФЕССИОНАЛЬНОЕ ОБОРУДОВАНИЕ</h2>
          <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
    
        </div>
        </div>
        <div class="flex mb-10 lg:items-center items-center justify-center">
            <div class="w-100 h-100 mr-10 ">
             <img style="width: 100%;" src="/img/lo1.svg" alt="">
            </div>
            <div class="flex-grow">
              <h2 class="text-gray-900 text-lg title-font font-medium">ПРОПУСКАНЯ СПОСОБНОСТЬ</h2>
              <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
           
            </div>
            </div>

            <div class="flex mb-10 lg:items-center items-center justify-center">
                <div class="w-100 h-100 mr-10 ">
                 <img style="width: 100%;" src="/img/h1.svg" alt="">
                </div>
                <div class="flex-grow">
                  <h2 class="text-gray-900 text-lg title-font font-medium">ПРОПУСКАНЯ СПОСОБНОСТЬ</h2>
                  <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
               
                </div>
                </div>

                <div class="flex mb-10 lg:items-center items-center justify-center">
                    <div class="w-100 h-100 mr-10 ">
                     <img style="width: 100%;" src="/img/f1.svg" alt="">
                    </div>
                    <div class="flex-grow">
                      <h2 class="text-gray-900 text-lg title-font font-medium">ПРОПУСКАНЯ СПОСОБНОСТЬ</h2>
                      <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
                   
                    </div>
                    </div>
    </div>
    </div>
  </div>
</section>
