<section class="text-white bg-black body-font">
  <div class="container max-w-1180 px-5 mx-auto">
    <div class="flex flex-wrap items-center justify-between h-100 py-20">
    <div class="grid  lg:grid-cols-2 gap-4">
      <div class="flex flex-col items-start justify-center p-10 w-full"">
        <h1 class="title-font sm:text-4xl text-3xl justify-centerfont-medium">Запишись на бесплатное</h1>
        <h1 class="title-font sm:text-4xl text-3xl font-medium mb-5">фитнес тестирование</h1>
      <div class="flex items-center mb-5">
        <span class="lg:text-7xl font-bold text-yellow-500">5</span>
        <div class="flex flex-col text-xs pt-2 pl-2"><p>Оставьте заявку<br>
          мы вам перезвоним в течение</p>
        <p class="text-xl font-bold text-yellow-500"> минут</p></div>
      </div>
        <form class="w-full flex flex-col" action="">
    
          <input placeholder="Ваше имя" class="mb-5 bg-transparent border border-yellow-500 py-3 px-5" type="text">
          <input placeholder="Номер телефона*" class="mb-5 bg-transparent border border-yellow-500 py-3 px-5" type="text">
          <button class="py-4 px-10 bg-yellow-400 mt-5 text-black font-bold uppercase">Записаться</button>
       
      </form>
      
      </div>
      <div class="div">
        <img class="p-5" src="/img/marketing.png" alt="">
      </div>
      </div>
    </div>
  </div>
    </section>