<section class="body-font bg-black text-white">
    <div class="container pt-24 w-full mx-auto">
      <h1 class="title-font sm:text-4xl text-3xl mb-10 font-medium text-center">Годовая карта всего </h1>
        <div class="flex flex-wrap">
     
      <div class="lg:w-1/2 w-full mb-10 lg:mb-0 overflow-hidden pl-0">
        <img alt="feature" class="object-cover object-center h-full w-full" src="/img/1.png">
      </div>
      <div class="flex flex-col flex-wrap lg:pt-20 -mb-10 lg:w-1/2 lg:pl-10 lg:pr-40 lg:text-left text-center">
          <h1 class="title-font sm:text-4xl text-3xl mb-10 font-medium">ТРЕНАЖЕРНЫЙ ЗАЛ </h1>
  <p>Оборудован тренажерами со встроенными
      весами Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию </p>    
        </div>
      </div>
  </div>
    </div>
  </section>
  
  
  <section class="body-font bg-black text-white">
      <div class="container w-full mx-auto flex flex-wrap">
      
        <div class="flex flex-col flex-wrap lg:py-6 lg:pt-20 -mb-10 lg:w-1/2 lg:pl-40 lg:text-left text-center">
          <h1 class="title-font sm:text-4xl text-3xl mb-10 font-medium">ЗАЛ ГРУППОВЫХ ЗАЯТИЙ </h1>
          <p>Оборудован тренажерами со встроенными
              весами Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>    
          </div>
          <div class="lg:w-1/2 w-full mb-10 lg:mb-0 overflow-hidden">
              <img alt="feature" class="object-cover object-center h-full w-full" src="/img/1.png">
            </div>
       
        </div>
      </div>
    </section>
  
  
    <section class="body-font bg-black text-white">
        <div class="container w-full mx-auto">
            <div class="flex flex-wrap">
          <div class="lg:w-1/2 w-full mb-10 lg:mb-0 overflow-hidden pl-0">
            <img alt="feature" class="object-cover object-center h-full w-full" src="/img/1.png">
          </div>
          <div class="flex flex-col flex-wrap lg:pt-20 -mb-10 lg:w-1/2 lg:pl-10 lg:pr-40 lg:text-left text-center">
              <h1 class="title-font sm:text-4xl text-3xl mb-10 font-medium">ТРЕНАЖЕРНЫЙ ЗАЛ </h1>
      <p>Оборудован тренажерами со встроенными
          весами Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию </p>    
            </div>
          </div>
      </div>
        </div>
      </section>
      
      
      <section class="body-font bg-black text-white">
          <div class="container pb-24 w-full mx-auto flex flex-wrap">
          
            <div class="flex flex-col flex-wrap lg:pt-20 -mb-10 lg:w-1/2 lg:pl-40 lg:text-left text-center">
              <h1 class="title-font sm:text-4xl text-3xl mb-10 font-medium">ЗАЛ ГРУППОВЫХ ЗАЯТИЙ </h1>
              <p>Оборудован тренажерами со встроенными
                  весами Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>    
              </div>
              <div class="lg:w-1/2 w-full mb-10 lg:mb-0 overflow-hidden">
                  <img alt="feature" class="object-cover object-center h-full w-full" src="/img/1.png">
                </div>
           
            </div>
          </div>
        </section>