<section class="text-gray-700 body-font overflow-hidden">
    <div class="container max-w-1180 px-5 py-24 mx-auto">
      <div class="grid  lg:grid-cols-4 gap-4">
          <div class="border-gray-700 border">
              <div class="p-5">
              <h2 class="text-gray-900 text-lg title-font font-medium">Стандарт </h2>
              <h2>15.000 тг / мес</h2>
              <div class="text-red-600">Kaspi RED</div>
          </div>
              <div class="border-t border-red-500">
                  <div class="p-5">Lorem Ipsum is simply dummy text of the printing and</div> </div>
          </div>
          </div>
    </div>
  </section>
  