<!DOCTYPE html>
<html  lang="en">
    
<head>
    {% include 'templates/head.html' %}
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="bg-gray-200 main flex flex-col justify-between h-screen">
    {% include 'templates/header.html' %}

    {% include 'templates/services.html' %}
  
    {% include 'templates/legend.html' %}
    {% include 'templates/gal.html' %}
    {% include 'templates/marketing.html' %}
    {% include 'templates/treners.html' %}
    {% include 'templates/blog.html' %}
    {% include 'templates/3-blocks.html' %}
    {% include 'templates/footer.html' %}
    
   
    

</body>


</html>